# The ID of your GitHub App
APP_ID=PRLint
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=info

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Update this to your own Sentry DSN if needed
SENTRY_DSN=https://e84d90e8ec13450d924ddd1a19581c62:aa9224cf89544c0591bf839112161adf@sentry.io/251839

# URL path which receives webhooks
WEBHOOK_PATH=/webhook